.navbar-oepp{
    background-color:#563d7c !important;
}

.container-oepp{
    padding-left:0px !important;
    padding-right:0px !important;
    margin-top: -25px !important;
}

.search-oepp{
    left:9% !important;
    right:30% !important;
}